.carddiv {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.card-grid {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  padding: 10px;
  height: calc(100vh - 144px);
  overflow-y: scroll;
}

.card-grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    background: #f7f7f7;
    padding: 10px;
    height: calc(100vh - 144px);
    overflow-y: scroll;
}

.mat-card-style {
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
    margin: 5px 0px;
}

.mat-card-style-select {
    background-color: #38366f;
    color: white;
}

.mat-card-style-items {
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
    height: 100%;
}

.mat-content-style {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.mat-image {
    width: 100%;
    height: 100%;
}

.mat-items-content-style {
    font-weight: bold;
    text-align: left;
}

/* Loading Barr */

.loading-bar {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rotation-animation {
    animation: div-rotate 0.7s infinite steps(8);
    transform: translateZ(0);
    transform-origin: 50% 50%;
}

@keyframes div-rotate {
      0% { transform: rotate(  0deg) scale(0.1);}
    100% { transform: rotate(360deg) scale(0.1);}
}